<!DOCTYPE html>
<html>
	<head>
		<title>Appointment</title>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Recursive&family=Roboto&display=swap" rel="stylesheet">
    	<link rel="stylesheet" href="../static/css/styles.css">
	</head>
	<body>
		<header>
			<div class="main-header"> 
				<div class="title-header">
					<h1 class="title-heading">Leukemia Detection</h1>
				</div>
				<div class="nav-header">
					<nav class="nav-items">
						<ul>
							<li><a href="{{url_for('index')}}">About the Project</a></li>
							<li><a href="">Detect</a></li>
							<li><a href="#get-in-touch">Get in touch</a></li>
						</ul>  
					</nav>
				</div>
			</div>
		</header>

	<section class="content">				
		<form class="form-content" method="POST" enctype="multipart/form-data">
			<label for="avatar">Upload an image:</label>
			<input type="file" id="file" name="file">
			<br>
			<br>
			<input type="submit" name="SUBMIT">
			<input type="reset" name="RESET">
		</form>
		</section>
	
	</body>
</html>